@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");
/* Custom Properties */

:root {
  --leading: 2em;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #121933;
  overflow-x: hidden;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: fixed;
  width: 100%;
  min-height: 10vh;
  padding: 1rem;
  background-color: #060c21;
  z-index: 3;
}

.brand-title a {
  font-size: 2.2rem;
  margin: 0.5rem;
  text-decoration: none;
  font-weight: 500;
  color: white;
}
.brand-title a::first-letter {
  color: rgb(167, 115, 19);
}

.hamburger {
  position: absolute;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  right: 1rem;
  top: 0.75rem;
  height: 1.32rem;
  width: 1.9rem;
  z-index: 2;
}

.line {
  width: 100%;
  height: 3px;
  background: white;
  border-radius: 0.62rem;
}
.navbar-links {
  display: none;
  width: 100%;
}
.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li:hover {
  background-color: rgb(167, 115, 19);
}

.navbar-links li a {
  text-decoration: none;
  color: white;
  padding: 0.5rem 1rem;
  display: block;
  font-size: 1.5rem;
  font-weight: 500;
}

.navbar-links.active {
  display: flex;
  flex-direction: column;
}

.navbar-links.disactive {
  display: none;
}

.hero-bg {
  background: url(../images/bg.jpg);
  background-position: 80% 40%;
  color: white;
  text-align: center;
  padding: 4em 0;
  border-radius: 1.5rem;
}

section {
  margin: 9 1em;
}

h1 {
  font-size: 3.5rem;
  margin: 2em 0 1.2em;
  white-space: 2.5rem;
  text-shadow: 0 7px 7px, grey;
}
h1 span {
  text-transform: uppercase;
  display: block;
  font-size: 5rem;
}

.hero-bg p {
  font-weight: bold;
  margin: 0 1rm 3em;
}
.container {
  background-color: #121933;
  width: 95%;
  margin: 0 auto;
}

.countries-blog {
  padding: 0;
  margin: 0;
}

.countries-blog .blog {
  border: 1px solid #000000;
}

.content {
  padding: 1em 1em 3em 1em;
  text-align: center;
}

.blog .content h3 {
  margin: 0 0 0.3em;
  padding: 0;
  font-size: 1.2rem;
  font-weight: 500;
  color: #ffffff;
}

.blog .content p {
  margin: 0;
  margin-bottom: 1em;
  padding: 0;
  color: #ffffff;
  font-size: 1rem;
}
.image-blog {
  width: 100%;
  height: 18.75rem;
  object-fit: cover;
  border-radius: 1.5rem;
}

.blog .content a {
  margin: 0;
  margin-top: 1.5em;
  padding: 1em 2em;
  text-decoration: none;
  border: 1px solid #ffffff;
  display: inline-block;
  color: #ffffff;
  transition: 0.5s;
  transform: translateY(-40px);
  opacity: 0;
  visibility: hidden;
}

.blog:hover .content a {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.blog .content a:hover {
  color: #ffffff;
  background: rgb(167, 115, 19);
}

.row {
  background-color: white;
  border-radius: 1.5rem;
  padding-top: 1.5rem;
  margin-top: 10rem;
}
.right-col {
  text-align: center;
  margin: 3em 1em;
}

h2 {
  text-transform: uppercase;
  position: relative;
  margin-bottom: 1.3rem;
}

.image-article {
  width: 100%;
  object-fit: cover;
  margin-bottom: 3.2rem;
  border-radius: 1.5rem;
}

p {
  line-height: var(--leading);
}

.banner {
  height: 100vh;
  display: flex;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../images/banner.jpg);
  background-size: cover;
  align-items: center;
  justify-content: center;
  color: #fff;
  max-width: 960 px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 10rem 0 10rem 0;
  position: relative;
  border-radius: 1.5rem;
}
.video-wrap video {
  display: none;
  border-radius: 1.5rem;
  margin-bottom: 0.5rem;
}

.banner-content {
  position: relative;
  z-index: 1;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.banner-content h1 {
  margin: 0;
  padding: 0;
  font-size: 3rem;
  font-weight: 900;
  line-height: 5.5rem;
}

.banner-content p {
  margin-top: 3rem;
  font-size: 1.2rem;
  line-height: 2.5rem;
}

#about {
  position: relative;
  background-color: white;
  height: 100%;
  border-radius: 1.5rem;
  margin-bottom: 7rem;
}

.about-content {
  text-align: center;
  padding: 5rem 2rem 5rem 2rem;
  margin: 1rem 0 9rem 0;
}

.about-content h3 {
  font-size: 3.2rem;
  margin-bottom: 0.5rem;
}
.about-content span {
  padding-top: 1rem;
  font-size: 1.2rem;
}

.about-content p {
  margin-top: 2.5rem;
  text-align: justify;
}
.events-heading {
  font-size: 2rem;
  font-weight: 300;
  color: white;
  text-transform: uppercase;
  text-align: center;
  margin: 7rem 0 1rem 0;
}

#events {
  position: relative;
  background-color: #121933;
}

.events-container {
  width: 100%;
}

.slide {
  position: relative;
  height: 100%;
  height: 100vh;
  margin: 3rem auto;
  overflow: hidden;
  border-radius: 1.5rem;
}

.image-slide {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center center;
}

.slide-content {
  position: relative;
  color: black;
  z-index: 1;
  height: auto;
  text-align: center;
  background: rgba(255, 255, 255, 0.6);
  top: 50%;
  padding-bottom: 1rem;
}
.slide-content h3 {
  font-size: 2.1rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.slide-content h6 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.slide-content p {
  font-size: 1rem;
  padding: 0 2rem 5rem 2rem;
}

footer {
  margin-top: 5rem;
  position: relative;
  padding: 3rem;
}

footer p {
  text-align: center;
  font-size: 0.8rem;
  color: white;
}

@media only screen and (min-width: 768px) {
  .blog {
    width: 65%;
    margin: 0 auto;
  }

  .banner {
    background-image: none;
  }

  .video-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  .video-wrap video {
    display: block;
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    pointer-events: none;
  }

  .events-heading {
    font-size: 3rem;
  }
}

@media (min-aspect-ratio: 16/9) {
  .video-wrap video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .video-wrap video {
    width: auto;
    height: 100%;
  }
}

@media only screen and (min-width: 992px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .hamburger {
    display: none;
  }
  .navbar-links {
    display: flex;
    justify-content: space-around;
  }
  .navbar-links ul {
    flex-direction: row;
  }

  .navbar-links li a {
    padding: 1rem;
  }
  .hero-bg p {
    margin: 0 0 3em;
  }
  .hero-bg secttion {
    width: 65%;
  }

  .countries-blog {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  .countries-blog::before {
    content: " ";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #ffffff;
    z-index: -1;
    transform: skew(2deg, 2deg);
  }

  .countries-blog::before {
    background: linear-gradient(315deg, #6e1834, #e64a19);
  }

  .countries-blog::after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
    pointer-events: none;
  }

  .countries-blog .blog {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .content {
    position: relative;
    padding: 1.25em 1.25em 5em 1.25em;
    transform: translateY(40px);
  }

  .blog .content h3 {
    margin: 0 0 0.5em;
    font-size: 1.5rem;
    font-weight: 600;
  }

  .blog .content a {
    position: relative;
  }

  .row {
    margin: auto;
    display: flex;
    flex-direction: row;
  }
  .right-col {
    text-align: center;
    margin: 3em 1em;
  }

  .image-article {
    object-fit: cover;
    width: 60%;
    height: 30rem;
    padding: 2em;
    border-radius: 1.5rem;
  }

  #events {
    height: 100vh;
  }
  .events-container {
    position: absolute;
    display: flex;
    height: 100%;
  }

  .slide {
    position: relative;
    height: 100%;
    flex: 1;
  }

  .slide:last-child {
    border-right: none;
  }

  .slide:hover {
    flex-grow: 5;
  }

  .slide-content {
    display: none;
  }

  .slide:hover .slide-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}
